.hero {
    background-color: $main_bg_color;
    padding: 4.8rem 0 9.6rem 0;
    &__container {
        max-width: 130rem;
        margin: 0 auto;
        padding: 0 3.2rem;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 9.6rem;
    }

    &__title {
        font-size: 5.2rem;
        line-height: 1.05;
        margin-bottom: 3.2rem;
    }

    &__gallery {
        margin-top: 8rem;
        display: flex;
        align-items: center;
        gap: 1.6rem;
    }

    &__photos {
        display: flex;

        img {
            width: 4.8rem;
            height: 4.8rem;
            border-radius: 50%;
            margin-right: -1.6rem;
            border: 3px solid $main_bg_color;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__text {
        font-size: 1.8rem;
        font-weight: 600;
        span {
            font-weight: 700;
            color: $main_color_shadow;
        }
    }

    &__descr {
        font-size: 2rem;
        line-height: 1.6;
        margin-bottom: 4.8rem;
    }

    &__img img {
        width: 100%;
    }
}