.meals {
    padding: 9.6rem 0;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 6.4rem;
        padding-bottom: 4.8rem;
    }

    &__card {
        box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
        border-radius: 11px;
        overflow: hidden;
        transition: all 0.4s;
        &:hover {
            transform: translateY(-1.2rem);
            box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
        }
    }

    &__content {
        padding: 3.2rem 4.8rem 4.8rem 4.8rem;
    }

    &__photo {
        width: 100%;
    }

    &__heading {
        font-size: 2.4rem;
        color: #333;
        font-weight: 600;
        margin-bottom: 3.2rem;
    }

    &__tags {
        margin-bottom: 1.2rem;
        display: flex;
        gap: 0.4rem;
    }

    &__tag {
        display: inline-block;
        padding: 0.4rem 0.8rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #333;
        border-radius: 100px;
        font-weight: 600;

    }

    .tag-vegeterian {
        background-color: #51cf66;
    }

    .tag-vegan {
        background-color: #94d82d;
    }

    .tag-paleo {
        background-color: #ffd43b;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        li {
            font-size: 1.8rem;
            display: flex;
            align-items: center;
            gap: 1.6rem;
        }

        strong {
            font-weight: 500;
        }

        ion-icon {
            font-size: 2.4rem;
            color: $main_color;
        }
    }

    &__recipes {
        text-align: center;
        font-size: 1.8rem;
    }

    a {
        &:link,
        &:visited {
            color: #e67e22;
            border-bottom: 1px solid currentColor;
            padding-bottom: 2px;
            transition: all 0.3s;
        }

        &:hover,
        &:active {
            color: #cf711f;
            border-bottom: 1px solid transparent;
            ;
        }
    }
}